{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Montserrat|Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Runtime Terror | Courses</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/site">

    <!--<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <main>
        <div class="container">
            <div class="nav">
                <div class="logo"><a href="/"><b>Runtime Terror</b></a></div>
                <div>
                    <span><a href="/"><u><b>HOME</b></u></a></span>

                </div>
            </div>
            <div class="about-us">
                <div class="who-we-are">
                    <h3>Who we are</h3>
                    <span>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</span>
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-img card-img1"></div>
                        <div class="card-body">
                            <h3>Akanksha Sinha</h3>
                            <span>web developer</span>
                            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-img card-img2"></div>
                        <card class="card-body">
                            <h3>Saurabh Kumar</h3>
                            <span>web developer</span>
                            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        </card>
                    </div>

                    <div class="card">
                        <div class="card-img card-img5"></div>
                        <card class="card-body">
                            <h3>Tanmoyee<br> Roy</h3>
                            <span>web developer</span>
                            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        </card>
                    </div>

                    <div class="card">
                        <div class="card-img card-img3"></div>
                        <card class="card-body">
                            <h3>Sandeep<br> Das</h3>
                            <span>Web developer</span>
                            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        </card>
                    </div>

                    <div class="card">
                        <div class="card-img card-img4"></div>
                        <card class="card-body">
                            <h3>Sudarshana Dutta</h3>
                            <span>web developer</span>
                            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        </card>
                    </div>

                </div>
            </div>

    </main>
    <footer class="footer">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/courses">Courses</a></li>
            <li class="list-inline-item"><a href="#">About us</a></li>
            <li class="list-inline-item"><a href="/contactus">Contact us</a></li>
        </ul>
        <p class="copyright">Runtime Terror © 2021</p>
    </footer>




    <script async src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script async src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script async src="{% static 'js/popper.min.js' %}"></script>
    <script async src="{% static 'js/bootstrap.min.js' %}"></script>
    <script async src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script async src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script async src="{% static 'js/slick.min.js' %}"></script>
    <script async src="{% static 'js/wow.min.js' %}"></script>
    <script async src="{% static 'js/animated.headline.js' %}"></script>
    <script async src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script async src="{% static 'js/gijgo.min.js' %}"></script>
    <script async src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script async src="{% static 'js/jquery.sticky.js' %}"></script>
    <script async src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script async src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script async src="{% static 'js/waypoints.min.js' %}"></script>
    <script async src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script async src="{% static 'js/hover-direction-snake.min.js' %}"></script>
    <script async src="{% static 'js/contact.js' %}"></script>
    <script async src="{% static 'js/jquery.form.js' %}"></script>
    <script async src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script async src="{% static 'js/mail-script.js' %}"></script>
    <script async src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script async src="{% static 'js/plugins.js' %}"></script>
    <script async src="{% static 'js/main.js' %}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>

</html>